<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
<h1>Listing for TOM</h1>

<f:flashMessages />
<table class="tx_jkugdpr">
	<tr>
        <th><f:translate key="tx_jkugdpr_domain_model_tom.uid" /></th>
		<th><f:translate key="tx_jkugdpr_domain_model_tom.title" /></th>
		<th><f:translate key="tx_jkugdpr_domain_model_tom.description" /></th>
		<th><f:translate key="tx_jkugdpr_domain_model_tom.technical" /></th>
		<th><f:translate key="tx_jkugdpr_domain_model_tom.administrative" /></th>
        <th><f:translate key="tx_jkugdpr_domain_model_tom.state" /></th>
        <th><f:translate key="tx_jkugdpr_domain_model_tom.tom" /></th>
        <th><f:translate key="tx_jkugdpr_domain_model_tom.employee" /></th>
        <th><f:translate key="tx_jkugdpr_domain_model_tom.data" /></th>
	</tr>
    <f:debug>{toms}</f:debug>
	<f:for each="{toms}" as="tom">
		<tr>
            <td>{tom.uid}</td>
			<td><f:link.action action="show" arguments="{tom : tom}"> {tom.title}</f:link.action></td>
			<td>{tom.description}</td>
			<td>{tom.technical}</td>
			<td>{tom.administrative}</td>
			<td>{tom.state.state}</td>
            <td>{tom.tom.title}</td>
            <td>{tom.employee.title}</td>
            <td>{tom.data.title}</td>
		</tr>
		</f:for>
</table>


	</f:section>
</html>