<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:for each="{pAs}" as="pA">
	<hr />
	<div style="float: left;">
		<f:render partial="FormErrors" />
		<f:form action="update" name="pA" object="{pA}">
			<f:render partial="PA/FormFields" arguments="{pA:pA}" />
			<f:form.submit value="Controller Action with reload" />
		</f:form>
	</div>
	<div style="float: left;">
		<f:form.submit value="jkugdpr-pa-update-request-response" class="jkugdpr-pa-update-request-response" data="{uid:pA.uid, title:pA.title, pA:pA}" />
	</div>
	<div style="float: left;">
		<f:form name="pA" object="{pA}" class="jkugdpr-pa-update-editrecord" enctype="multipart/form-data">
			<f:render partial="PA/FormFields" arguments="{pA:pA}" />
			<f:form.submit value="jkugdpr-pa-update-editrecord" />
		</f:form>
	</div>
	<div style="float: left;">
		<f:form method="get" name="pA" object="{pA}" class="pa-update-form">
			<f:render partial="PA/FormFields" arguments="{pA:pA}" />
			<f:form.submit value="AjaxUpdatePSR7" />
		</f:form>
		<a class="btn btn-default t3js-record-hide" data-state="hidden" href="/jku-t3-gdpr/typo3/pa/update/link" data-params="data[tx_jkugdpr_domain_model_pa][2][hidden]=1" title="" data-toggle-title="Hide record" data-original-title="Hide record">
			<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-edit-hide" data-identifier="actions-edit-hide">

			</span>
		</a>
	</div>

	<div style="clear: both"></div>
</f:for>
</html>