<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:be.pageRenderer includeRequireJsModules="{
   0:'TYPO3/CMS/JkuGdpr/PAUpdate'
}" />
	<f:be.container>
		<div class="typo3-fullDoc">
			<div id="typo3-docheader">
				<div class="typo3-docheader-functions">
					<div class="left">
						<f:be.buttons.csh />
						<f:be.menus.actionMenu>
							<f:be.menus.actionMenuItem label="Overview" controller="" action="list" />
							<f:be.menus.actionMenuItem label="Create new Register" action="new" controller="Register" />
									<f:be.menus.actionMenuItem label="Create new TOMRegister" action="new" controller="TOMRegister" />
									<f:be.menus.actionMenuItem label="Create new PARegister" action="new" controller="PARegister" />
									<f:be.menus.actionMenuItem label="Create new PA" action="new" controller="PA" />
									<f:be.menus.actionMenuItem label="Create new TOM" action="new" controller="TOM" />
									<f:be.menus.actionMenuItem label="Create new CategoryEmployee" action="new" controller="CategoryEmployee" />
									<f:be.menus.actionMenuItem label="Create new CategoryData" action="new" controller="CategoryData" />
									<f:be.menus.actionMenuItem label="Create new CategoryAffectedPerson" action="new" controller="CategoryAffectedPerson" />
									<f:be.menus.actionMenuItem label="Create new CategoryPurpose" action="new" controller="CategoryPurpose" />
									<f:be.menus.actionMenuItem label="Create new CategoryDataReceiver" action="new" controller="CategoryDataReceiver" />
									<f:be.menus.actionMenuItem label="Create new CategoryDeletionDeadline" action="new" controller="CategoryDeletionDeadline" />
									<f:be.menus.actionMenuItem label="Create new CategoryLegalFoundation" action="new" controller="CategoryLegalFoundation" />
									<f:be.menus.actionMenuItem label="Create new CategoryTom" action="new" controller="CategoryTom" />
									<f:be.menus.actionMenuItem label="Create new Person" action="new" controller="Person" />
									<f:be.menus.actionMenuItem label="Create new CategoryTomGdpr" action="new" controller="CategoryTomGdpr" />
									<f:be.menus.actionMenuItem label="Create new CategoryDsfa" action="new" controller="CategoryDsfa" />
						</f:be.menus.actionMenu>
					</div>
					<div class="right">
						<f:be.pagePath />
						<f:be.pageInfo />
					</div>
				</div>
				<div class="typo3-docheader-buttons">
					<div class="left">

					</div>
					<div class="right">
						<f:be.buttons.shortcut />
					</div>
				</div>

			</div>
			<div id="typo3-docbody">
				<div id="typo3-inner-docbody">
					<f:flashMessages />
					<f:render section="content" />
				</div>
			</div>
		</div>
	</f:be.container>
</html>
